################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EtherscanConsole/EtherscanConsole/obj/Debug
/EtherscanConsole/EtherscanConsole/bin/Debug
/EtherscanConsole/packages
/EtherscanTest/EtherscanTest/bin
