################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EtherscanConsole/EtherscanConsole/obj/Debug
/EtherscanConsole/EtherscanConsole/bin/Debug
/EtherscanConsole/packages
/EtherscanTest/EtherscanTest/bin
/EtherscanTest/packages/bootstrap.3.3.7
/EtherscanTest/.vs/EtherscanTest
/EtherscanTest/EtherscanTest/obj/Debug
/EtherscanTest/packages
