body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-inverse {
    background-color: #eee !important;
    border-color: #eee !important;
}

#tokens {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
}

    #tokens td, #customers th {
        border: 1px black solid;
        padding: 8px;
    }

    #tokens tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #tokens tr:hover {
        background-color: #ddd;
    }

    #tokens th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #f2f2f2;
        color: black;
        border: 1px black solid;
    }
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.w280 {
    width: 280px;
}
.btn-blue {
    background-color: Highlight;
}
.btn-green {
    background-color: limegreen;
}
.btn-common {
    color: white !important;
    border: 1px solid transparent;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 5px 5px 5px 5px;
}